<h1>#[name]</h1>
<table width="750" border="1" ><tr>
	<tr>
		<td width='25%' bgcolor="#FFD700"><b>交換レート</b></td>
		<td colspan="3" width='75%'  bgcolor="#EEE8AA">#[rate]</td>
	</tr>
	<tr>
		<td width='25%' bgcolor="#FFD700"><b>WebMoneyへの交換</b></td>
		<td width='20%'  bgcolor="#EEE8AA">#[to_webmoney]</td>
		<td width='20%' bgcolor="#FFD700"><b>最低支払</b></td>
		<td width='35%' bgcolor="#EEE8AA">#[min_pay]</td>
	</tr>
	<tr>
		<td bgcolor="#FFD700"><b>ポイントの交換先</b></td>
		<td colspan="3" bgcolor="#EEE8AA">
			#[exchange_place]
		</td>
	</tr>
	<tr>
		<td bgcolor="#FFD700"><b>ポイント獲得方法</b></td>
		<td colspan="3"  bgcolor="#EEE8AA"><br><ul>
			#[]
		</ul></td>
	</tr>
	<tr>
		<td bgcolor="#FFD700"><b>登録に必要な情報</b></td>
		<td colspan="3"  bgcolor="#EEE8AA"><br>
			#[regster_info]
		</ul></td>
	</tr>
</table>
<table>
	<tr>
		<td>
			<div align="center">
				<font size="5">↓から#[name]に登録できます。↓</font><br>
				<!-- admax -->
				<script type="text/javascript" src="http://adm.shinobi.jp/s/96393dba87eba91922c6cce2e887bfa7"></script>
				<!-- admax -->
				<br>
				<a href="#[register_link]" target="_blank"><img src="#[banner_link]" alt="#[name]"><br><font size="6"><b>#[name]に登録する</b></font><br></a>
			</div>
		</td>
	</tr>
</table>
<table border="0" width="750"><tr>
	<td>
		<div align="center">
			<a href="../psregister.html" target="0">＜＜ポイントサイトへ登録する</a>　　　<a href="http://kantanwmget.tubakurame.com/" target="_top">HOME</a>　　　<a href="#pagetop">TOPへ戻る</a>
		</div>
	</td>
</table>

