<h2>管理ツール</h2>

<h3>画像収集クローラ<h3>
<ul>
<li> <a href='{$config.image_crawler_url}/ManageTool.php' target='main'>管理ページ</a></li>
</ul>

<h3>無料で簡単にWebMoneyを貯めよう<h3>
<ul>
<li> <a href='webmoney/index.html' target='main'>確認ページ</a></li>
<li> <a href='mkw_public/mkw_change_tool.php' target='main'>編集</a></li>
<li> <input id='update_main' type='submit' value='本番更新'></li>
<li> <a href='mkw_public/point_site_manage.php' target='main'>ポイントサイト管理</a></li>
</ul>

<h3>動画投稿サイト<h3>
<ul>
		<li> <a href='{$config.base_url}/movie_upload/index.php' target='main'>管理ページ</a></li>
</ul>

<h3>アカウント管理<h3>
<ul>
<li> <a href='{$config.account_manager_url}/serviceManage.php' target='main'>サービス管理</a></li>
<li> <a href='{$config.account_manager_url}/userManage.php' target='main'>ユーザー管理</a></li>
</ul>

