<h3>ユーザ一覧</h3>

サービス名<input id="service_id" type='text'></input>
<button id="send_button">送信</button>

<table id="user_list_area">
</table>
<table>
	<tr>
		<th>ID</th>
		<th>パスワード</th>
		<th>権限ID</th>
	</tr>
	<tr>
		<th><input type="text" id="user_id"></th>
		<th><input type="text" id="password"></th>
		<th><input type="text" id="permission_id"></th>
	</tr>
</table>
<textarea id="user_list_js_template" style='display:none;'>
	<tr>
		<th>#[id]</th>
		<td>#[password]</td>
		<td>#[permission_id]</td>
		<td>#[deleted]</td>
	</tr>
</textarea>

<button id="add_button">追加</button>
<button id="edit_button">編集</button>
<button id="delete_button">削除</button>
<span id="result"></span>
<br>

